.Dictionary .search-input {
  display: block;
  height: 64px;
  color: #666;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

.Dictionary label {
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
  font-weight: bold;
}

.Meaning {
  text-align: left;
}

.Dictionary section {
  background: #dddddd26;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary h1 {
  height: 60px;
}
